.left-page {
    color: white;
    background-color: black;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Button styling */
.portfolio-button {
    font-size: 1.2rem;
    color: black;
    background-color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: transform 0.3s, background-color 0.3s;
}

.portfolio-button:hover {
    background-color: #ccc;
    transform: scale(1.1); /* Button enlarges slightly on hover */
}
